#add-habit-form {
    background-color: rgba(255,255,255,0.85);
}

#add-habit-form-submit {
    border: 1px solid black; 
}

#add-habit-form-submit:hover {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}