*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */

:root {
  /* Gradients */
  --theme-gradient-1: linear-gradient(to bottom, #ff0000, #ff6700, #ff9f00, #ffd000, #ffff00);
  --theme-gradient-2: linear-gradient(to bottom right, #dc143c, #db4f14, #cc7800, #b39a00, #8fb700, #61c255, #2ec88a, #00cbb5, #00bbe1, #00a3ff, #007cff, #8f00ff);
  --sun-and-earth: linear-gradient(to right bottom, #eaff00, #e8bb06, #cb7e27, #984e30, #5a2b29, #50242b, #441e2d, #371a2c, #552b54, #694187, #675fc1, #3083ff);
  --light-grey-gradient: linear-gradient(to left top, #eeeeee, #dfe0e3, #ced2d9, #bcc5ce, #a9b8c3);

  /* Images */
  --star-scape: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1d3afc9c-7ad4-4035-9f3c-361cf814a3d1/d17lusi-6e53c8eb-0a9a-4c39-b139-7fedb7de7acc.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFkM2FmYzljLTdhZDQtNDAzNS05ZjNjLTM2MWNmODE0YTNkMVwvZDE3bHVzaS02ZTUzYzhlYi0wYTlhLTRjMzktYjEzOS03ZmVkYjdkZTdhY2MuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.KqNJi35BU1JK9UlXb4BOaawuHzSVukL5sZp3TMd0ems)
  --double-quasar: https://upload.wikimedia.org/wikipedia/commons/1/14/Double_Quasars_in_Merging_Galaxies.jpg
}

body {
  background-image: var(--light-grey-gradient);
  min-height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
}

#global-wrapper {
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: auto auto 1fr;
}



