#edit-habits-form {
    background-color: rgba(255,255,255,0.85);
}

#edit-habits-accordion {
    display: flex;
    flex-direction: column;
    margin-bottom: 00.75em;
}

.accordion-body button {
    margin-right: 0.5em;
}