#nav-wrapper {
    padding: 0.75rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin: 0 ;
    padding: 0;
    display: flex;
}