#tool-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.75rem;
    border-bottom: 0.25px solid rgba(0,0,0,0.5);
    border-top: 0.25px solid rgba(0,0,0,0.5);
}

#main-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}

#main-buttons button {
    font-weight: 600;
    border: 1px solid black;
    background-color: white;
    transition: 0.1s;
}

#main-buttons button:hover {
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.25);
}

#wheel-style {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
}

#wheel-style form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.25em;
    margin-top: 0.5em;
}