#wheel-wrapper {
    width: 90%;
    max-width: 900px;
    /* max-width: 1200px; */
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 40px;
    padding: 1em;
    margin: 1em auto;
    background: var(--sun-and-earth);
    background-image: var(--sun-and-earth);
    background-attachment: fixed;
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.25);
}

#wheel-outer-circle {
    margin: 1em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-image: var(--theme-gradient-2); */
    background: rgba(255,255,255,0.25);
}

#inner-wheel-circle {
    /* border: 1px solid black; */
    background-color: white;
    z-index: 2;
    border-radius: 50%;
    background: var(--sun-and-earth);
    background-image: var(--sun-and-earth);
    background-attachment: fixed;
}

#wheel-circle {
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* box-shadow: 0px 0px 4px 8px rgba(0,0,0,0.25); */
}

.grey-lines {
    /* position: absolute;
    border: 0.5px solid rgba(0,0,0,0.25);
    transform-origin: center; */
    stroke: rgba(0,0,0,0.25);
    stroke-width: 1;
}

#wake-line {
    stroke-width: 2;
    stroke: yellow;
}

#sleep-line {
    stroke: navy;
    stroke-width: 2;
}

path.bold{
    stroke: rgba(0,0,0,0.5);
    stroke-width: 1;
}

#time-markers-wrapper {
    position: absolute;
}

.time-markers {
    color: white;
    font-weight: 600;
    position: absolute;
    z-index: 1;
}

#add-habit-button {
    border: 3px solid white;
    border-radius: 50%;
    background-image: var(--theme-gradient-2);
    color: white;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
    font-family: none !important;
    line-height: normal !important;
}

#add-habit-button:hover {
    border-color: black;
    color: black;
    transform: rotate(-90deg);
}

svg:not(:root) {
    overflow: visible;  
}


.habit-path {
    fill: rgba(0,0,0,0.25);
    shape-rendering: geometricPrecision;
    background-image: var(--theme-gradient-2);
    stroke: white;
    stroke-width: 0.75;
    /* transition: 0.25s; */
    /* cursor: pointer; */
}

#sleep-path {
    fill: rgba(0, 15, 60, 0.75)
}

/* .habit-path:hover,
.habit-wrapper:hover > .habit-path,
.habit-name:hover~.habit-path {
    fill: rgba(0,0,0,0.5);
} */


#hour-hand {
    stroke: red;
    stroke-width: 2;
}

/* Custom hover and focus for habit path */

.habit-path:hover {
    fill: rgba(0,0,0,0.5);
}

.habit-path:focus {
    stroke-width: 1.5;
    stroke: black;
    outline: none;
}
